* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "BalooBhainaOdia";
  src: url("../fonts/BalooBhainaOdia.ttc");
}
@font-face {
  font-family: "GomariceKaijuMonster";
  src: url("../fonts/gomarice_kaiju_monster.ttf") format("truetype");
}
@font-face {
  font-family: "APJapanesefont";
  src: url("../fonts/APJapanesefont.ttf") format("truetype");
}
body {
  font-family: "dnp-shuei-mgothic-std", "a-otf-jun-pro", "BalooBhainaOdia", "GomariceKaijuMonster", "APJapanesefont", sans-serif;
  background-color: #dcdddd;
}

img {
  height: auto;
}

.fv {
  min-height: 914px;
  max-height: 948px;
  overflow: hidden;
}
.fv__inner {
  height: 100vh;
  max-width: 1980px;
  min-height: 914px;
  max-height: 948px;
  padding-top: 24px;
  position: relative;
  margin: 0 auto;
}

.user__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 124px;
  margin-bottom: 18px;
  opacity: 0;
}
.user__title p {
  color: #c9caca;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 54px;
  font-family: "APJapanesefont";
  line-height: 100px;
  letter-spacing: -0.21em;
  width: 232px;
  text-align: center;
  padding-bottom: 6px;
}
.user__title p:nth-child(1) {
  background-image: url("../assets/images/use-bg-01.svg");
}
.user__title p:nth-child(2) {
  background-image: url("../assets/images/use-bg-02.svg");
}

.fv__title {
  text-align: center;
  white-space: nowrap;
  padding-left: 26px;
}

.fv__title__one {
  position: relative;
}
.fv__title__one:nth-child(1) {
  right: -31px;
  top: 17px;
}
.fv__title__one:nth-child(2) {
  right: -25px;
  top: 16px;
}
.fv__title__one:nth-child(3) {
  right: -19px;
  top: 29px;
}
.fv__title__one:nth-child(4) {
  right: -14px;
  top: -2px;
}
.fv__title__one:nth-child(5) {
  right: -5px;
}
.fv__title__one:nth-child(6) {
  left: -17px;
  top: 5px;
}
.fv__title__one:nth-child(7) {
  left: -27px;
  top: 39px;
}
.fv__title__one:nth-child(8) {
  left: -53px;
  top: -8px;
}
.fv__title__one .one-text {
  height: auto;
  opacity: 0;
}

.fv__main {
  width: 100%;
  height: 100%;
  max-height: 948px;
  min-height: 914px;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 70px;
  padding-top: 274px;
}

.fv__main__inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.fv__main__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  --pseudo-opacity: 0;
}
.fv__main__bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #c9caca;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: var(--pseudo-opacity);
}

.fv__char__box {
  position: absolute;
  z-index: 2;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.fv__char__box .char-img {
  display: block;
  position: relative;
  animation: charBalloonRotateChar 0.5s steps(2, jump-none) infinite alternate;
}
.fv__char__box .char-img:nth-child(1) {
  right: -12px;
}
.fv__char__box .char-img:nth-child(3) {
  left: -12px;
}

.char-img-01 {
  translate: -350% 0;
  transition: translate 3s;
}
@media screen and (min-width:1980px) {
  .char-img-01 {
    translate: -1000% 0;
  }
}

.char-img-02 {
  translate: 450% 0;
  transition: translate 3s;
}

.char-img-03 {
  translate: 450% 0;
  transition: translate 3s;
}

.fv__bottom__text {
  text-align: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.fv__bottom__text p {
  color: #fff;
  font-size: 124px;
  letter-spacing: -0.14em;
  line-height: 0.4;
  font-family: "APJapanesefont";
}

.icon {
  position: absolute;
  display: block;
  opacity: 0;
}

.icon-01 {
  top: -234px;
  left: -7px;
}

.icon-02 {
  top: -272px;
  left: 32%;
  transform: translateX(-50%);
}

.icon-03 {
  top: -156px;
  left: 46%;
  transform: translateX(-50%);
}

.icon-04 {
  left: 274px;
  top: 67%;
}

.icon-05 {
  right: 217px;
  top: 67%;
}

.icon-06 {
  left: -10%;
  top: 45%;
}

.icon-07 {
  left: -4%;
  top: 29%;
}

.icon-08 {
  left: 26%;
  top: -3%;
}

.icon-09 {
  left: 39%;
  top: -6%;
}

.icon-10 {
  right: -2%;
  top: 34%;
}

.icon-11 {
  right: 1%;
  top: -4%;
}

.icon-12 {
  right: -4%;
  top: -12%;
}

.icon-13 {
  left: -25%;
  top: 35%;
}

.icon-14 {
  left: 11%;
  top: -8%;
}

.icon-15 {
  left: 48%;
  top: -16%;
}

.icon-16 {
  right: 20%;
  top: -7%;
}

.icon-17 {
  right: 9%;
  top: 21%;
}

.icon-18 {
  right: -24%;
  top: 43%;
}

.icon-19 {
  left: -16%;
  bottom: 2%;
}

.icon-20 {
  left: -19%;
  top: -8%;
}

.icon-21 {
  right: -19%;
  top: -4%;
}

.icon-22 {
  right: -19%;
  bottom: 27%;
}

.icon-animation {
  opacity: 0;
  position: absolute;
  display: block;
  animation: charBalloonRotate 0.5s steps(2, jump-none) infinite alternate;
}

.icon-animation-reverse {
  opacity: 0;
  position: absolute;
  display: block;
  animation: charBalloonRotateReverse 0.5s steps(2, jump-none) infinite alternate;
}

@keyframes charBalloonRotateChar {
  0% {
    rotate: -2deg;
  }
  to {
    rotate: 2deg;
  }
}
@keyframes charBalloonRotate {
  0% {
    rotate: 0;
  }
  to {
    rotate: -5deg;
  }
}
@keyframes charBalloonRotateReverse {
  0% {
    rotate: -5deg;
  }
  to {
    rotate: 0;
  }
}
.about__inner {
  max-width: 1980px;
  width: 90%;
  margin: 0 auto;
  padding: 270px 0 18px;
}

.about__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 70px;
}
.about__top img {
  display: block;
  animation: charBalloonRotateChar 0.5s steps(2, jump-none) infinite alternate;
}

.about__img__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img__01 {
  transform: rotate(-4deg);
}

.about__img__04 {
  transform: rotate(18deg);
  position: relative;
  top: 58px;
}

.about__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.about__text__box {
  color: #595757;
  text-align: center;
}
.about__text__box .about__title {
  font-size: 47px;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 78px;
  opacity: 0;
}
.about__text__box .about__text {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.8em;
  opacity: 0;
}

.about__img__05 {
  transform: rotate(-8deg);
  position: relative;
  top: -35px;
}

.about__img__06 {
  transform: rotate(14deg);
  position: relative;
  top: 28px;
}

.arrow__box {
  width: fit-content;
  margin: 0 auto 0 11%;
  position: relative;
  transform: translate(-2rem, -16rem);
  opacity: 0;
}
.arrow__box .arrow__img {
  display: block;
  height: auto;
}

.scrollUpText {
  opacity: 0;
  transform: translateY(2rem);
}

.price {
  overflow: hidden;
}
.price__inner {
  padding-bottom: 260px;
}

.price__container {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  margin-bottom: 36px;
}

.price__title__one {
  display: inline-block;
}
.price__title__one img {
  display: block;
}

.price__img__one {
  opacity: 0;
  padding-top: 60px;
}

.price__box {
  width: 90%;
  margin: 0 auto;
}

.price__item {
  margin-bottom: 12px;
}
.price__item:nth-child(n+3) .price__text span {
  padding-left: 8px;
}
.price__item .sub__text {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 36px;
}

.price__item__inner {
  border: 6px solid #9fa0a0;
  border-radius: 999px;
  background-color: #fff;
  padding: 8px 20px;
  display: flex;
}

.price__inner__menu {
  background-color: #9fa0a0;
  color: #fff;
  font-size: 48px;
  font-family: "a-otf-jun-pro";
  border-radius: 999px;
  padding: 1px 12px 10px;
  width: 230px;
  text-align: center;
  line-height: 1;
}

.price__text {
  color: #727171;
  font-family: "a-otf-jun-pro";
  font-size: 48px;
  margin-left: 10%;
}
.price__text span {
  font-size: 35px;
  font-family: "a-otf-jun-pro";
  padding-left: 34px;
}

.sub__text {
  font-size: 14px;
  font-family: "a-otf-jun-pro";
  color: #000;
  line-height: 1.6em;
}

.sub__text__01 {
  padding-top: 20px;
}

.price__char__box__left {
  position: relative;
  left: -27px;
  top: 82px;
}
.price__char__box__left .price__char {
  translate: -100% 0;
}

.price__char__box__right {
  transform: scale(-1, 1);
  position: relative;
  right: -27px;
  top: 82px;
}
.price__char__box__right .price__char {
  translate: -100% 0;
}

.char__bg {
  background-color: #fff;
  padding: 52px 0;
  overflow: hidden;
}
.char__bg .char__bg__img {
  width: 379vw;
  animation: infinity-scroll-right 25s infinite linear 0.5s both;
}

@keyframes infinity-scroll-right {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}
/*# sourceMappingURL=style.css.map */