@use "../setting/index" as *;

.flow {
  padding-top: 92px;
  @include media(bp767) {
    padding-top: 6px;
  }
  &__inner {
    padding-bottom: 12px;
    position: relative;
  }
}

.flow__title {
  width: 68%;
  max-width: 1980px;
  margin: 0 auto;
  padding-bottom: 46px;
  @include media(bp767) {
    width: 100%;
    padding: 0 16px 24px;
  }
}

.flow__title__one {
  @include media(bp1024) {
    &:nth-child(1) {
      img {
        width: 60px;
      }
    }
    &:nth-child(2) {
      img {
        width: 57px;
      }
    }
    &:nth-child(3) {
      img {
        width: 81px;
      }
    }
    &:nth-child(4) {
      img {
        width: 98px;
      }
    }
  }
  @include media(bp767) {
    &:nth-child(1) {
      img {
        width: 30px;
      }
    }
    &:nth-child(2) {
      position: relative;
      left: -4px;
      img {
        width: 28px;
      }
    }
    &:nth-child(3) {
      position: relative;
      left: -10px;
      img {
        width: 40px;
      }
    }
    &:nth-child(4) {
      position: relative;
      left: -15px;
      img {
        width: 48px;
      }
    }
  }
}

.flow__img__one {
  opacity: 0;
}

.flow__contents {
  width: 80%;
  margin: 0 auto;
  @include media(bp767) {
    width: 100%;
    padding: 0 16px;
  }
}

.flow__item {
  display: grid;
  grid-template-columns: 211px auto;
  grid-template-rows: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
  @include media(bp1024) {
    grid-template-columns: 160px auto;
  }
  @include media(bp767) {
    grid-template-columns: 62px auto;
    gap: 8px;
    margin-bottom: 12px;
  }
}

.flow__step {
  grid-column: 1;
  grid-row: 1;
  margin-left: 32px;
  @include media(bp1024) {
    width: 160px;
  }
  @include media(bp767) {
    width: 62px;
    margin-left: 0;
  }
}

.flow__menu {
  grid-column: 2;
  grid-row: 1;
  color: #fff;
  font-size: 80px;
  letter-spacing: -9px;
  padding-top: 16px;
  margin-left: 32px;
  @include media(bp1024) {
    font-size: 56px;
  }
  @include media(bp767) {
    font-size: 25px;
    margin-left: 0;
    padding-top: 5px;
    letter-spacing: -4px;
  }
}

.flow__text {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: #fff;
  color: $color-text;
  font-size: 27px;
  font-family: $family-a-otf-jun-pro;
  line-height: 1.6em;
  padding: 32px 92px;
  border-radius: 999px;
  @include media(bp1024) {
    font-size: 20px;
  }
  @include media(bp767) {
    font-size: 12px;
    padding: 14px 24px;
    .flow__br {
      display: none;
    }
  }
}

.flow__item__02 {
  margin-top: 40px;
  @include media(bp767) {
    margin-top: 24px;
  }
}

.flow__item__02__title {
  color: #fff;
  font-size: 80px;
  letter-spacing: -9px;
  text-shadow: 4px 4px 0px $text-gray, -4px 4px 0px $text-gray,
    4px -4px 0px $text-gray, -4px -4px 0px $text-gray, 4px 0px 0px $text-gray,
    0px 4px 0px $text-gray, -4px 0px 0px $text-gray, 0px -4px 0px $text-gray;
  line-height: 0.7;
  margin-left: 32px;
  transition: text-shadow .6s .6s;
  @include media(bp1024) {
    font-size: 60px;
  }
  @include media(bp767) {
    font-size: 25px;
    margin-left: 0;
    letter-spacing: -4px;
    text-shadow: 2px 2px 0px $text-gray, -2px 2px 0px $text-gray,
      2px -2px 0px $text-gray, -2px -2px 0px $text-gray, 2px 0px 0px $text-gray,
      0px 2px 0px $text-gray, -2px 0px 0px $text-gray, 0px -2px 0px $text-gray;
  }
}

.flow__item__02__text__wrap {
  background-color: $bg-light-fv;
  padding: 40px 92px;
  border-radius: 84px;
  transition: background-color .6s .6s;
  @include media(bp767) {
    border-radius: 30px;
    padding: 12px 30px;
  }
}

.flow__item__02__text {
  font-size: 27px;
  color: #fff;
  line-height: 1.6em;
  font-family: $family-a-otf-jun-pro;
  @include media(bp1024) {
    font-size: 20px;
  }
  @include media(bp767) {
    font-size: 12px;
  }
}

.flow__item__02__text__box {
  display: flex;
  gap: 10px;
  @include media(bp767) {
    display: block;
  }
}

.flow__item__02__bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  @include media(bp767) {
    display: block;
    position: relative;
  }
}

.flow__item__sub__text {
  color: $color-text;
  font-size: 20px;
  font-family: $family-a-otf-jun-pro;
  padding: 24px 0 0 92px;
  line-height: 1.5em;
  transition: color .6s .6s;
  @include media(bp767) {
    padding: 7px 0 56px;
    font-size: 9px;
  }
}

.flow__img__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -150px;
  @include media(bp1024) {
    top: -55px;
  }
  @include media(bp767) {
    position: absolute;
    top: -149px;
    right: -12px;
  }
  img {
    display: block;
    animation: charBalloonRotateChar 0.5s steps(2, jump-none) infinite alternate;
    @include media(bp1024) {
      &.flow__img__03 {
        width: 80px;
      }
      &.flow__img__04 {
        width: 90px;
        top: 92px;
      }
    }
    @include media(bp767) {
      &.flow__img__03 {
        width: 49px;
        right: 0;
      }
      &.flow__img__04 {
        width: 39px;
        top: 50px;
        left: -14px;
      }
    }
  }
  .flow__img__03 {
    position: relative;
    right: -28px;
  }
  .flow__img__04 {
    transform: rotate(14deg);
    position: relative;
    top: 115px;
  }
}

.flow__img__01 {
  position: absolute;
  left: -285px;
  top: 19%;
  z-index: -1;
  width: 592px;
  transform: translateX(-100%);
  @include media(bp767) {
    width: 64px;
    top: -12%;
    right: 0;
    left: initial;
    transform: translateX(100%);
  }
}

.arrow__three {
  width: 90%;
  max-width: 1980px;
  margin: 0 auto;
  padding-bottom: 128px;
  @include media(bp767) {
    padding-bottom: 56px;
  }
}

.arrow__three__img {
  display: block;
  margin: 8px auto;
  opacity: 0;
  animation: fadeInOut 3.5s steps(1) infinite;
}

.arrow__three__img__01 {
  @include media(bp767) {
    width: 26px;
  }
}

.arrow__three__img__02 {
  animation-delay: 0.4s;
  @include media(bp767) {
    width: 24px;
  }
}

.arrow__three__img__03 {
  animation-delay: 1s;
  @include media(bp767) {
    width: 20px;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
