@use "../setting/index" as *;

.footer {
  padding-bottom: 400px;
  position: relative;
  overflow: hidden;
  @include media(bp1024) {
    padding-bottom: 256px;
  }
  @include media(bp1024) {
    padding-bottom: 265px;
  }
  @include media(bp767) {
    padding-bottom: 128px;
  }
  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 162px 0;
    --scale-footer: 0;
    @include media(bp767) {
      padding: 56px 16px 96px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: $bg-light-fv;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 234px;
      scale: var(--scale-footer);
      transition: background-color 0.6s 0.6s;
      @include media(bp767) {
        border-radius: 60px;
      }
    }
  }
}

.contact {
  max-width: 1980px;
  width: 76%;
  margin: 0 auto;
  @include media(bp767) {
    width: 100%;
  }
}

.contact__title {
  width: 90%;
  margin: 0 auto 46px;
  @include media(bp1024) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.contact__title__img {
  @include media(bp1024) {
    width: 400px;
  }
  @include media(bp1024) {
    width: 215px;
  }
}

.contact__text {
  color: #fff;
  font-size: 34px;
  letter-spacing: -2px;
  font-family: $family-a-otf-jun-pro;
  line-height: 1.8em;
  margin: 0 auto 24px;
  width: 90%;
  @include media(bp1024) {
    font-size: 24px;
  }
  @include media(bp767) {
    width: 100%;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 11px;
  }
}

.contact__text__02 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  margin: 0 auto 100px;
  width: 90%;
  font-family: $family-a-otf-jun-pro;
  @include media(bp1024) {
    font-size: 16px;
  }
  @include media(bp767) {
    width: 100%;
    font-size: 9px;
    letter-spacing: 0;
    margin-bottom: 28px;
  }
}

.line__qr__img {
  display: block;
  margin: 0 auto 136px;
  @include media(bp767) {
    width: 100px;
    margin-bottom: 67px;
  }
}

.info__box {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  gap: 10%;
  @include media(bp767) {
    display: block;
  }
  p {
    color: #000;
    font-family: $family-a-otf-jun-pro;
    font-size: 36px;
    line-height: 1.4em;
    transition: color 0.6s 0.6s;
    @include media(bp1024) {
      font-size: 24px;
    }
    @include media(bp767) {
      font-size: 15px;
    }
  }
}

.info__text__box {
  @include media(bp767) {
    width: fit-content;
    margin: 0 auto;
  }
}

.logo__img {
  display: block;
  @include media(bp767) {
    width: 141px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
}

.footer__char__box {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 878px;
  @include media(bp1024) {
    width: 666px;
  }
  @include media(bp767) {
    width: 305px;
    bottom: -15px;
  }
}

.p-link {
  display: block;
  position: relative;
  top: 184px;
  left: 38px;
  @include media(bp1024) {
    top: 162px;
  }
  @include media(bp767) {
    top: 63px;
    left: 10px;
  }
  &:hover {
    .p-link-img {
      scale: 1.08;
    }
  }
  .p-link-img {
    transition: scale 0.4s ease;
    @include media(bp1024) {
      width: 100px;
    }
    @include media(bp767) {
      width: 60px;
    }
  }
}

.footer__char {
  display: block;
  width: 100%;
}
