@use "../setting/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "BalooBhainaOdia";
  src: url("../fonts/BalooBhainaOdia.ttc");
}

@font-face {
  font-family: "GomariceKaijuMonster";
  src: url("../fonts/gomarice_kaiju_monster.ttf") format("truetype");
}

@font-face {
  font-family: "APJapanesefont";
  src: url("../fonts/APJapanesefont.ttf") format("truetype");
}

body {
  font-family: "APJapanesefont", "dnp-shuei-mgothic-std", "a-otf-jun-pro",
    "BalooBhainaOdia", "GomariceKaijuMonster", sans-serif;
  background-color: $bg-light;
}

body.dark {
  background-color: $bg-dark;
}

img {
  height: auto;
}

.header {
  position: sticky;
  top: 0;
  right: 5%;
  z-index: 999;
  height: 0;
  @include media(bp767) {
    right: 18px;
  }
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 83px;
  height: 43px;
  background: #3eac4a;
  margin: 0 5% 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  transition: background-color .6s .6s;
  @include media(bp767) {
    width: 30px;
    height: 15px;
  }
}

label:after {
  content: "";
  background: #fff;
  width: 33px;
  height: 33px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
  @include media(bp767) {
    width: 11px;
    height: 11px;
    top: 2px;
  }
}

input:checked + label {
  background: #ab9aba;
  transition: background-color .6s .6s;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

