@use "../setting/index" as *;

.price {
  overflow: hidden;
  &__inner {
    padding-bottom: 260px;
  }
}

.price__container {
  display: grid;
  grid-template-columns: 190px 1fr 190px;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  margin-bottom: 36px;
}

.price__title__one {
  display: inline-block;
  &:nth-child(2) {
    img {
      left: -4px;
    }
  }
  &:nth-child(3) {
    img {
      left: -8px;
    }
  }
  &:nth-child(4) {
    img {
      left: -12px;
    }
  }
  &:nth-child(5) {
    img {
      left: -16px;
    }
  }
  img {
    display: block;
    position: relative;
  }
}

.price__img__one {
  opacity: 0;
  padding-top: 60px;
}

.price__box {
  width: 90%;
  max-width: 1980px;
  margin: 0 auto;
}

.price__item {
  margin-bottom: 12px;
  &:nth-child(n + 3) {
    .price__text {
      span {
        padding-left: 8px;
      }
    }
  } 
  .sub__text {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 36px;
  }
}

.price__item__inner {
  border: 6px solid $color-border;
  border-radius: 999px;
  background-color: #fff;
  padding: 8px 20px;
  display: flex;
}

.price__inner__menu {
  background-color: $color-border;
  color: #fff;
  font-size: 48px;
  font-family: $family-a-otf-jun-pro;
  border-radius: 999px;
  padding: 1px 12px 10px;
  width: 230px;
  text-align: center;
  line-height: 1;
}

.price__text {
  color: $color-text-02;
  font-family: $family-a-otf-jun-pro;
  font-size: 48px;
  margin-left: 10%;
  span {
    font-size: 35px;
    font-family: $family-a-otf-jun-pro;
    padding-left: 34px;
  }
}

.sub__text {
  font-size: 14px;
  font-family: $family-a-otf-jun-pro;
  color: #000;
  line-height: 1.6em;
}

.sub__text__01 {
  padding-top: 20px;
}

.price__char__box__left {
  position: relative;
  left: -27px;
  top: 82px;
  .price__char {
    translate: -100% 0;
  }
}

.price__char__box__right {
  transform: scale(-1, 1);
  position: relative;
  right: -27px;
  top: 82px;
  .price__char {
    translate: -100% 0;
  }
}

.char__bg {
  background-color: #fff;
  padding: 52px 0;
  overflow: hidden;
  .char__bg__img {
    width: 379vw;
    animation :infinity-scroll-right 25s infinite linear 0.5s both;
  }
}

@keyframes infinity-scroll-right {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}

.arrow__box__02 {
  margin: 64px 16% 0 auto;
  max-width: 1980px;
  width: fit-content;
  transform: translate(2rem, -16rem);
  opacity: 0;
}