@use "../setting/index" as *;

.price {
  overflow: hidden;
  &__inner {
    padding-bottom: 260px;
    @include media(bp767) {
      padding-bottom: 114px;
    }
  }
}

.price__container {
  display: grid;
  grid-template-columns: 190px 1fr 190px;
  justify-content: space-between;
  align-items: center;
  @include media(bp1024) {
    grid-template-columns: 86px 1fr 86px;
  }
  @include media(bp767) {
    display: block;
    .price__char__box {
      display: none;
    }
  }
}

.price__title {
  margin-bottom: 36px;
  @include media(bp767) {
    margin-bottom: 14px;
  }
}

.price__title__one {
  display: inline-block;
  &:nth-child(1) {
    @include media(bp1024) {
      img {
        width: 60px;
      }
    }
    @include media(bp767) {
      img {
        width: 30px;
      }
    }
  }
  &:nth-child(2) {
    @include media(bp1024) {
      img {
        left: -4px;
        width: 62px;
      }
    }
    @include media(bp767) {
      img {
        width: 31px;
      }
    }
  }
  &:nth-child(3) {
    @include media(bp1024) {
      img {
        left: -8px;
        width: 28px;
      }
    }
    @include media(bp767) {
      img {
        width: 13px;
      }
    }
  }
  &:nth-child(4) {
    @include media(bp1024) {
      img {
        left: -12px;
        width: 60px;
      }
    }
    @include media(bp767) {
      img {
        width: 30px;
      }
    }
  }
  &:nth-child(5) {
    @include media(bp1024) {
      img {
        left: -16px;
        width: 56px;
      }
    }
    @include media(bp767) {
      img {
        width: 28px;
      }
    }
  }
  img {
    display: block;
    position: relative;
  }
}

.price__img__one {
  opacity: 0;
  padding-top: 60px;
}

.price__box {
  width: 90%;
  max-width: 1980px;
  margin: 0 auto;
}

.price__item {
  margin-bottom: 12px;
  &:nth-child(n + 3) {
    .price__text {
      span {
        padding-left: 8px;
      }
    }
  }
  .sub__text {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 36px;
    @include media(bp767) {
      font-size: 10px;
      padding-top: 7px;
      text-align: left;
      padding-bottom: 12px;
    }
  }
}

.price__item__inner {
  border: 6px solid $color-border;
  border-radius: 999px;
  background-color: #fff;
  padding: 8px 20px;
  display: flex;
  transition: border-color 0.6s 0.6s;
  align-items: center;
  @include media(bp767) {
    border-width: 3px;
    padding: 3px 7px;
  }
}

.price__inner__menu {
  background-color: $color-border;
  color: #fff;
  font-size: 48px;
  font-family: $family-a-otf-jun-pro;
  border-radius: 999px;
  padding: 8px 12px 10px;
  width: 230px;
  text-align: center;
  line-height: 1;
  transition: background-color 0.6s 0.6s;
  @include media(bp1100) {
    font-size: 28px;
  }
  @include media(bp1024) {
    font-size: 24px;
    width: 152px;
  }
  @include media(bp767) {
    font-size: 17px;
    width: 83px;
    padding: 4px 0px 4px;
  }
}

.price__text {
  color: $color-text-02;
  font-family: $family-a-otf-jun-pro;
  font-size: 48px;
  margin-left: 10%;
  transition: color 0.6s 0.6s;
  @include media(bp1100) {
    font-size: 28px;
  }
  @include media(bp1024) {
    margin-left: 5%;
    font-size: 24px;
  }
  @include media(bp767) {
    font-size: 17px;
    margin-left: 30px;
  }
  span {
    font-size: 35px;
    font-family: $family-a-otf-jun-pro;
    padding-left: 34px;
    @include media(bp1100) {
      font-size: 20px;
    }
    @include media(bp1024) {
      font-size: 16px;
      padding-left: 20px;
    }
    @include media(bp767) {
      display: none;
    }
  }
}

.sub__text {
  font-size: 14px;
  font-family: $family-a-otf-jun-pro;
  color: #000;
  line-height: 1.6em;
  transition: color 0.6s 0.6s;
  @include media(bp767) {
    font-size: 10px;
    padding-top: 0;
  }
}

.sub__text__01 {
  padding-top: 20px;
}

.price__char__box__left {
  position: relative;
  left: -27px;
  top: 82px;
  .price__char {
    translate: -100% 0;
  }
}

.price__char__box__right {
  transform: scale(-1, 1);
  position: relative;
  right: -27px;
  top: 82px;
  .price__char {
    translate: -100% 0;
  }
}

.price__char {
  &__01 {
    @include media(bp1024) {
      width: 120px;
    }
  }
  &__02 {
    @include media(bp1024) {
      width: 90px;
    }
  }
  &__03 {
    @include media(bp1024) {
      width: 70px;
    }
  }
  &__04 {
    @include media(bp1024) {
      width: 120px;
    }
  }
  &__05 {
    @include media(bp1024) {
      width: 90px;
    }
  }
  &__06 {
    @include media(bp1024) {
      width: 70px;
    }
  }
}

.char__bg {
  background-color: #fff;
  padding: 52px 0;
  overflow: hidden;
  .char__bg__img {
    width: 379vw;
    animation: infinity-scroll-right 25s infinite linear 0.5s both;
    @include media(bp767) {
      width: 366vw;
    }
  }
}

@keyframes infinity-scroll-right {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}

.arrow__box__02 {
  margin: 0 16% 0 auto;
  max-width: 1980px;
  width: fit-content;
  transform: translate(2rem, -16rem);
  opacity: 0;
  @include media(bp767) {
    margin: 16px 10% 0 auto;
  }
  img {
    @include media(bp1024) {
      width: 124px;
    }
  }
}

.dl {
  &__inner {
    padding: 94px 0 40px;
    max-width: 854px;
    margin: 0 auto;
    @include media(bp1024) {
      max-width: 740px;
    }
    @include media(bp767) {
      width: 310px;
      max-width: 310px;
    }
  }
}

.dl__box {
  background-color: #fff;
  border-radius: 104px;
  @include media(bp767) {
    border-radius: 40px;
  }
}

.dl__title {
  font-family: $family-a-otf-jun-pro-bold;
  font-size: 53px;
  letter-spacing: 0.06em;
  color: #fff;
  text-shadow: 3px 3px 0px #9fa0a0, -3px 3px 0px #9fa0a0, 3px -3px 0px #9fa0a0,
    -3px -3px 0px #9fa0a0, 3px 0px 0px #9fa0a0, 0px 3px 0px #9fa0a0,
    -3px 0px 0px #9fa0a0, 0px -3px 0px #9fa0a0, 6px 6px 0px #919090ae;
  text-align: center;
  position: relative;
  top: -34px;
  transition: text-shadow 0.6s 0.6s;
  @include media(bp767) {
    font-size: 20px;
    top: -14px;
    text-shadow: 2px 2px 0px #9fa0a0, -2px 2px 0px #9fa0a0, 2px -2px 0px #9fa0a0,
      -2px -2px 0px #9fa0a0, 2px 0px 0px #9fa0a0, 0px 2px 0px #9fa0a0,
      -2px 0px 0px #9fa0a0, 0px -2px 0px #9fa0a0,
      3px 3px 0px rgba(145, 144, 144, 0.6823529412);
  }
}

.dl__text {
  font-family: $family-a-otf-jun-pro-bold;
  font-size: 39px;
  letter-spacing: 0.06em;
  color: #9fa0a0;
  text-align: center;
  margin-top: -16px;
  transition: color 0.6s 0.6s;
  @include media(bp767) {
    font-size: 15px;
    margin-top: -5px;
  }
}

.dl__item__box {
  padding: 4px 66px 50px;
  @include media(bp1024) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include media(bp767) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;
  }
}
.dl-img {
  display: block;
  position: relative;
  top: -6px;
  transform: translateY(200px);
  @include media(bp767) {
    width: 36px;
    display: none;
  }
}
.dl-img-sp {
  display: block;
  .dl-img {
    display: block;
  }
}
.dl__item {
  display: grid;
  grid-template-columns: 110px 1fr 82px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 20px;
  @include media(bp767) {
    grid-template-columns: 36px 1fr;
    padding-top: 12px;
  }
  &:nth-child(2) {
    .dl__item__text {
      width: 501px;
      margin-left: -1px;
      background-image: url("../assets/images/dl-bg-2.png");
      @include media(bp767) {
        font-size: 8px;
        width: 193px;
        height: 29px;
      }
    }
  }
}

.dl__item__text {
  font-family: $family-a-otf-jun-pro;
  font-size: 24px;
  text-align: center;
  color: #fff;
  height: 66px;
  padding: 0 0 0 30px;
  background-image: url("../assets/images/dl-bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  width: 482px;
  transition: background-image 0.6s 0.6s;
  @include media(bp767) {
    font-size: 8px;
    width: 187px;
    height: 27px;
    padding-left: 11px;
    letter-spacing: -0.07em;
  }
}

.dl-qr {
  @include media(bp767) {
    display: none;
  }
}
